{% extends "course/base.html" %}
{% block content %}

<br><br><br>
  <div class="container">
    <div class="jumbotron">
        <form method="POST">
          <p><h3 align='center' > <b>Heaven's Light is Our Guide</b></h3></p>
          <p><h2 align='center' ><b>Rajshahi University of Engineering & Technology</b> </h2></p>
          <p> <h1 align='center'>Course Registration Form</h1> </p>
          <br><br>
          {% csrf_token %}
          {{ form.as_p }}
          <br>

            <table class="paleBlueRows">
              <h2 align='center'><b>Course List:</b></h2>
              <thead>
                <tr>

                <th>Course Id</th>
                <th>Title</th>
                <th>Credit</th>
                </tr>
              </thead>
              <tbody>
              {% for c in y %}

              <tr>
              <td>{{ c.Course_id }}</td><td>{{ c.Title }}</td><td>{{ c.Credit }}</td>
              </tr>

              {% endfor %}
              </tbody>
            </table>

          <br>
          <br>
          {% if p %}
          <h2>Optional I:</h2>
          {% for l in p %}
          <input type="checkbox" name="course1" class="check1" style="float: left; margin-top: 5px;" value="{{l.Course_id}}">
          <div style="margin-left: 25px; font-size:200%">{{l.Course_id}} : {{l.Title}}, Credit: {{l.Credit}}</div>
          <br>
          {% endfor %}
          {% endif %}

          {% if q %}
          <h2>Optional II:</h2>
          {% for l in q %}
          <input type="checkbox" name="course2" class="check1" style="float: left; margin-top: 5px;" value="{{l.Course_id}}">
          <div style="margin-left: 25px; font-size:200%">{{l.Course_id}} : {{l.Title}}, Credit: {{l.Credit}}</div>
          <br>
          {% endfor %}
          {% endif %}
          <br><br>
          <p><input type="submit" align='center' class="btn-success btn-lg" value="Submit"></p>
        </form>

    </div>
  </div>




{% endblock %}
