{% extends 'course/base.html' %}
{% block content %}
<br><br><br>
<div class="container">
  <div class="jumbotron">
      <p><h1>Registered Students:</h1></p>

      <p><a href="{% url "course:studentsearch" %}"> <button type="button" class="btn btn-success">View</button> </a> </p>
      <p><a href="{% url "course:studentdelete" %}"> <button type="button" class="btn btn-danger">Delete</button> </a> </p>

    <br>
    <br>
    <p><h1>Semester Schedules:  </h1></p>

    <p><a href="{% url "course:updatesemester" %}"><button type="button" class="btn btn-info">Update</button> </a></p>

  </div>

</div>
{% endblock %}
