{% extends "course/base.html" %}
{% block content %}
<br><br><br>
<div class="container">
  <div class="jumbotron">
    <h1 align='center'>Department Name: {{dep}}</h1>
    <h2 align='center'>{{sem}}</h2>

    <table class="paleBlueRows">
      <thead>
        <tr>

        <th>Course Id</th>
        <th>Title</th>
        <th>Credit</th>
        </tr>
      </thead>
      <tbody>
      {% for c in y %}

      <tr>
      <td>{{ c.Course_id }}</td><td>{{ c.Title }}</td><td>{{ c.Credit }}</td>
      </tr>

      {% endfor %}
      </tbody>
    </table>
    {% if p %}
    <h2 align='center'>Optional I</h2>

    <table class="paleBlueRows">
      <thead>
        <tr>

        <th>Course Id</th>
        <th>Title</th>
        <th>Credit</th>
        </tr>
      </thead>
      <tbody>
      {% for c in p %}

      <tr>
      <td>{{ c.Course_id }}</td><td>{{ c.Title }}</td><td>{{ c.Credit }}</td>
      </tr>

      {% endfor %}
      </tbody>
    </table>
    {% endif %}

    {% if q %}
    <h2 align='center'>Optional II</h2>

    <table class="paleBlueRows">
      <thead>
        <tr>

        <th>Course Id</th>
        <th>Title</th>
        <th>Credit</th>
        </tr>
      </thead>
      <tbody>
      {% for c in q %}

      <tr>
      <td>{{ c.Course_id }}</td><td>{{ c.Title }}</td><td>{{ c.Credit }}</td>
      </tr>

      {% endfor %}
      </tbody>
    </table>
    {% endif %}


  </div>

</div>
{% endblock %}
