{% extends "course/base.html" %}
{% block content %}
<br><br><br>
<div class="container">
  <div class="jumbotron">
    <h2 align='center'>Department Name: {{dep}}</h2>
    <h2 align='center'>{{sem}}</h2>
    <h2 align='center'>No. of Registered Students: <b>{{s}}</b> </h2>
    <table class="paleBlueRows">
      <thead>
        <tr>

        <th>Name</th>
        <th>Roll</th>

        <th>Courses</th>

        </tr>
      </thead>
      <tbody>
      {% for c in y %}

      <tr>
      <td>{{ c.Name }}</td><td>{{ c.Roll }}</td> <td>{{c.Courses}}</td>
      </tr>

      {% endfor %}
      </tbody>
    </table>
  </div>

</div>

{% endblock %}
